Xft.dpi: 96.0
!Xft.antialias: 0
!Xft.hinting: 1
!Xft.hintstyle: hintfull
!Xft.rgba: none

!Xcursor.theme: flatcursor

UXTerm*scrollBar: True
UXTerm*rightScrollBar: True
UXTerm*saveLines: 5000

! Rxvt also recognizes XTerm resources, so, e.g., saveLines could be combined
!  font was "6x13"
Rxvt.background: Black
Rxvt.foreground: White
Rxvt.font: -xos4-termina-medium-r-normal--12-120-72-72-c-60-iso10646-1
Rxvt.scrollBar_right: True
Rxvt.saveLines: 5000

