! these should match fontconfig settings - needed for some apps (e.g. GTK apps like scite)
Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! there is also URxvt.lineSpace, but seems only positive values are accepted
URxvt.letterSpace: -2

!Xcursor.theme: flatcursor

XTerm*background: Black
XTerm*foreground: White
UXTerm*scrollBar: True
UXTerm*rightScrollBar: True
UXTerm*saveLines: 5000
XTerm*font: -xos4-termina-medium-r-normal--12-120-72-72-c-60-iso10646-1

! prevent auto-scrolling when scrolling up
URxvt*scrollTtyOutput: False
URxvt*scrollWithBuffer: True
URxvt*scrollTtyKeypress: True

! Rxvt also recognizes XTerm resources, so, e.g., saveLines could be combined
!  font was "6x13"
Rxvt.background: Black
Rxvt.foreground: White
Rxvt.font: -xos4-termina-medium-r-normal--12-120-72-72-c-60-ibm-cp437
URxvt.font: xft:monospace:pixelsize=16
URxvt.boldFont:
Rxvt.scrollBar_right: True
Rxvt.saveLines: 5000
! Ctrl+F to search scrollback in urxvt
URxvt.searchable-scrollback: C-f
