Xft.dpi: 96.0
!Xft.antialias: 0
!Xft.hinting: 1
!Xft.hintstyle: hintfull
!Xft.rgba: none

!Xcursor.theme: flatcursor

UXTerm*scrollBar: True
UXTerm*rightScrollBar: True
UXTerm*saveLines: 5000

! Rxvt also recognizes XTerm resources, so, e.g., saveLines could be combined
Rxvt.background: Black
Rxvt.foreground: White
Rxvt.font: 6x13
Rxvt.scrollBar_right: True
Rxvt.saveLines: 5000

